@import "tailwindcss";

@theme {
  --color-primary-50: #eeedff;
  --color-primary-100: #e0dfff;
  --color-primary-200: #c5c2fc;
  --color-primary-300: #a29dfa;
  --color-primary-400: #837cf7;
  --color-primary-500: #6b63f3;
  --color-primary-600: #5956e9;
  --color-primary-700: #4a47d4;
  --color-primary-800: #3d3aad;
  --color-primary-900: #34318a;
  --color-primary-950: #1e1c5e;

  --color-secondary-50: #e6faf5;
  --color-secondary-100: #ccf5eb;
  --color-secondary-200: #99ebd7;
  --color-secondary-300: #5edcc0;
  --color-secondary-400: #2ec4a8;
  --color-secondary-500: #209f89;
  --color-secondary-600: #1a8a76;
  --color-secondary-700: #167060;
  --color-secondary-800: #14594d;
  --color-secondary-900: #114940;
  --color-secondary-950: #072924;

  --color-warning-50: #fff8eb;
  --color-warning-100: #ffedd5;
  --color-warning-200: #fed7aa;
  --color-warning-300: #fdba74;
  --color-warning-400: #fb923c;
  --color-warning-500: #f97316;
  --color-warning-600: #f38704;
  --color-warning-700: #c26c03;
  --color-warning-800: #9a5502;
  --color-warning-900: #7c4401;
  --color-warning-950: #431f00;

  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #fca5a5;
  --color-danger-400: #f87171;
  --color-danger-500: #ef4444;
  --color-danger-600: #d54c4c;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
  --color-danger-900: #7f1d1d;
  --color-danger-950: #450a0a;

  --color-accent-50: #faf5ff;
  --color-accent-100: #f3e8ff;
  --color-accent-200: #e9d5ff;
  --color-accent-300: #d8b4fe;
  --color-accent-400: #c084fc;
  --color-accent-500: #a855f7;
  --color-accent-600: #8b5cf6;
  --color-accent-700: #7c3aed;
  --color-accent-800: #6d28d9;
  --color-accent-900: #5b21b6;
  --color-accent-950: #2e1065;
}

.dark {
  --color-primary-50: #1e1c5e;
  --color-primary-100: #34318a;
  --color-primary-200: #3d3aad;
  --color-primary-300: #4a47d4;
  --color-primary-400: #5956e9;
  --color-primary-500: #6b63f3;
  --color-primary-600: #837cf7;
  --color-primary-700: #a29dfa;
  --color-primary-800: #c5c2fc;
  --color-primary-900: #e0dfff;
  --color-primary-950: #eeedff;

  --color-secondary-50: #072924;
  --color-secondary-100: #114940;
  --color-secondary-200: #14594d;
  --color-secondary-300: #167060;
  --color-secondary-400: #1a8a76;
  --color-secondary-500: #209f89;
  --color-secondary-600: #2ec4a8;
  --color-secondary-700: #5edcc0;
  --color-secondary-800: #99ebd7;
  --color-secondary-900: #ccf5eb;
  --color-secondary-950: #e6faf5;

  --color-warning-50: #431f00;
  --color-warning-100: #7c4401;
  --color-warning-200: #9a5502;
  --color-warning-300: #c26c03;
  --color-warning-400: #f38704;
  --color-warning-500: #f97316;
  --color-warning-600: #fb923c;
  --color-warning-700: #fdba74;
  --color-warning-800: #fed7aa;
  --color-warning-900: #ffedd5;
  --color-warning-950: #fff8eb;

  --color-danger-50: #450a0a;
  --color-danger-100: #7f1d1d;
  --color-danger-200: #991b1b;
  --color-danger-300: #b91c1c;
  --color-danger-400: #d54c4c;
  --color-danger-500: #ef4444;
  --color-danger-600: #f87171;
  --color-danger-700: #fca5a5;
  --color-danger-800: #fecaca;
  --color-danger-900: #fee2e2;
  --color-danger-950: #fef2f2;

  --color-accent-50: #2e1065;
  --color-accent-100: #4c1d95;
  --color-accent-200: #5b21b6;
  --color-accent-300: #6d28d9;
  --color-accent-400: #7c3aed;
  --color-accent-500: #8b5cf6;
  --color-accent-600: #c084fc;
  --color-accent-700: #d8b4fe;
  --color-accent-800: #e9d5ff;
  --color-accent-900: #f3e8ff;
  --color-accent-950: #faf5ff;
}
